/*/  colors  /*/
$white: #ffffff;
$black: #000000;
$gray: #E5E5E5;
$shadow: #d0d0d0;
$blue: #004F91;

/*/  fonts  /*/
$rubik: 'Rubik', Sans-serif;

/*/  others  /*/
$width-fill: -webkit-fill-available;